{% if user.is_authenticated %}
    <button type="button"
            class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            id="user-menu-button"
            aria-expanded="false"
            data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom">
        <span class="sr-only">Abrir menú de usuario</span>
        {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}"
                 class="rounded-full size-10"
                 alt="">
        {% else %}
            <svg class="rounded-full size-10 text-white"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd" />
            </svg>
        {% endif %}
    </button>
    <!-- Dropdown menu -->
    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
         id="user-dropdown">
        <div class="px-4 py-3">
            <span class="block text-sm">
                {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    Nombre no disponible
                {% endif %}
            </span>
            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">
                {% if user.email %}
                    {{ user.email }}
                {% else %}
                    Correo no disponible
                {% endif %}
            </span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
            {% if perms.users.view_useraccount or perms.users.add_useraccount %}
                <li>
                    <a href="{% url 'users:list' %}"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Gestión de usuarios</a>
                </li>
            {% endif %}
            {% if perms.raffles.view_raffle or perms.raffles.add_raffle %}
                <li>
                    <a href="{% url "raffles:list" %}"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Gestión de rifas</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url "users:profile_update" %}"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Mi cuenta</a>
            </li>
            <li>
                <!-- En el template HTML -->
                <form action="{% url 'users:logout' %}"
                      method="post"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                    {% csrf_token %}
                    <button href="#" type="submit">
                        Cerrar
                        sesión
                    </button>
                </form>
            </li>
        </ul>
    </div>
{% else %}
    <!-- Modal toggle -->
    <button data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal"
            class="text-white bg-gradient-to-br from-pink-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            type="button">Iniciar sesión</button>
    <!-- Main modal -->
    {% include "./modal_login.html" %}
{% endif %}
